<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>fixboproductname</name>
	<displayName><![CDATA[Fixed BackOffice product name]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Fixed BackOffice product name for disabled languages]]></description>
	<author><![CDATA[Saeed Sattar Beglou]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
</module>
